@import "tailwindcss";

/* Importação das fontes personalizadas */
@font-face {
  font-family: "Josefin Slab";
  src: url("/fonts/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 700;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Slab";
  src: url("/fonts/Josefin_Slab/JosefinSlab-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 700;
  font-style: italic;
}

@font-face {
  font-family: "Yeseva One";
  src: url("/fonts/Yeseva_One/YesevaOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  /* Cores personalizadas */
  --color-cream: #f5f5dc;
  --color-cream-light: #fdfdf8;
  --color-burgundy: #800020;
  --color-dark-brown: #3d2b1f;
  --color-sage: #8a9a7b;
  --color-gold: #d4af37;

  /* Fontes personalizadas */
  --font-josefin: "Josefin Slab", serif;
  --font-yeseva: "Yeseva One", serif;
}

/* Define cor de fundo padrão para toda aplicação */
body {
  background-color: #f5f5dc;
  background-color: var(--color-cream);
}
